@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
.Gala {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.Gala .nav {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: rgba(5, 5, 5, 0.4);
}

.Gala .nav .nav-container .nav-logo {
  position: absolute;
  top: 50%;
  left: 60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
}

.Gala .nav .nav-container .nav-logo img {
  width: 100%;
  border-radius: 50px;
}

.Gala .nav .nav-container .search {
  position: absolute;
  top: 18px;
  right: 42.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.7;
}

.Gala .nav .nav-container .search .search-icon {
  font-size: 1.5em;
  position: absolute;
  opacity: 0.5;
  left: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Gala .nav .nav-container .search .hidden {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.Gala .nav .nav-container .search .search-icon::after {
  border-left: 2px solid black;
  display: inline-block;
}

.Gala .nav .nav-container .search input {
  width: 300px;
  height: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  outline: none;
  padding: 0.2em 2em;
  font-size: 1.5em;
  font-family: "Raleway";
  opacity: 1;
  letter-spacing: 2px;
  font-weight: bolder;
  background: -webkit-gradient(linear, left bottom, left top, from(#808080), to(#ffffff));
  background: linear-gradient(to top, #808080, #ffffff);
}

.Gala .nav .nav-container .top-nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.Gala .nav .nav-container .top-nav .nav-icon {
  width: 200px;
  margin: 0 2em;
  padding: 0.5em 0.5em;
  font-size: 2em;
  color: white;
  cursor: pointer;
  opacity: 0.5;
}

.Gala .nav .nav-container .nav-icon:hover {
  color: #0053b3;
  background: #050505;
}

.Gala .nav .nav-container .search-results {
  position: absolute;
  width: 400px;
  height: 700px;
  top: 3.5em;
  right: 42.5px;
  background: rgba(214, 214, 214, 0.7);
  border-bottom-left-radius: 25px;
  border-top-left-radius: 15px;
  z-index: 99;
  overflow-y: scroll;
  display: none;
}

.Gala .nav .nav-container .show {
  display: block;
}

.Gala .gala-explore {
  position: fixed;
  width: 960px;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.4);
  color: white;
  top: 5em;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  border-radius: 30px;
}

.Gala .music {
  position: absolute;
  top: 3.75em;
  right: 40px;
}

.Gala .music .section-ele-container-close {
  width: 400px;
  height: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#151515), to(#333333));
  background: linear-gradient(to bottom, #151515, #333333);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  -webkit-box-shadow: 0px 5px 5px #151515;
          box-shadow: 0px 5px 5px #151515;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Gala .music .section-ele-container-close .coverArt img {
  width: 60px;
  -webkit-box-shadow: 2px 5px 5px #000000;
          box-shadow: 2px 5px 5px #000000;
  border-radius: 10px;
  cursor: pointer;
}

.Gala .music .section-ele-container-close .main-element {
  position: relative;
  letter-spacing: 2px;
  font-size: 12px;
  top: -8px;
}

.Gala .music .section-ele-container-close .main-element h2 {
  position: relative;
  color: #cacaca;
  text-shadow: 2px 2px 5px black;
}

.Gala .music .section-ele-container-close .main-element p {
  position: absolute;
  top: -8px;
  color: #cacaca;
}

.Gala .music .section-ele-container-close .main-element .time-controle {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: -8px;
  left: -20px;
  color: white;
}

.Gala .music .section-ele-container-close .main-element .time-controle div {
  margin: 0 5px;
}

.Gala .music .section-ele-container-close .main-element .time-controle .start-time {
  text-shadow: 2px 2px 5px black;
}

.Gala .music .section-ele-container-close .main-element .time-controle .end-time {
  text-shadow: 2px 2px 5px black;
}

.Gala .music .section-ele-container-close .main-element .time-controle .slider {
  height: 1px;
  width: 150px;
  color: #d3d3d3;
  background: #adadad;
  border-color: black;
  -webkit-box-shadow: 0px 2px 5px #000000;
          box-shadow: 0px 2px 5px #000000;
  outline: none;
  opacity: 1;
}

.Gala .music .section-ele-container-close .command button {
  padding: 1.5em;
  border-radius: 15px;
  border: none;
  -webkit-box-shadow: 0px 5px 5px #000000;
          box-shadow: 0px 5px 5px #000000;
  background: #616161;
}

.Gala .content {
  position: absolute;
}

.Gala .content .content-container {
  padding: 0 8px;
}

.Gala .content .content-container li {
  list-style-type: none;
  padding: 0.8em 0;
}

.Gala .content .categorySelector {
  max-width: 342px;
  max-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.Gala .content .categorySelector .category-img {
  margin-right: 1em;
  font-size: 2.5em;
  color: white;
  opacity: 0.5;
  padding-top: 8px;
  padding-left: 10px;
  border-radius: 30px;
}

.Gala .content .categorySelector .category-title {
  color: white;
}

.Gala .content .categorySelector .category-title h2 {
  font-family: "Archivo Black";
  font-size: 20px;
  letter-spacing: 2px;
  opacity: 0.8;
  text-shadow: 10px 5px 10px #000000;
}

.Gala .content .categorySelector:hover {
  background: rgba(5, 5, 5, 0.4);
  border-radius: 25px;
}

.Gala .content .categorySelector:hover .cat-icon {
  color: #0075ff;
}

.Gala .content .content-break {
  border-bottom: 1px solid white;
  width: 350px;
  position: relative;
  left: 2.5em;
}

.Gala .thumbnail {
  position: absolute;
  width: 400px;
  height: 750px;
  top: 160px;
  right: 42.5px;
  border-radius: 20px;
  background: rgba(5, 5, 5, 0.4);
  overflow-y: scroll;
  overflow-x: hidden;
}

.Gala .thumbnail .container {
  max-width: 660px;
  margin: 60px 20px;
}

.Gala .thumbnail .container .time-line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(340px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  grid-row-gap: 15em;
}

.Gala .thumbnail .container .content .content-thumbnail {
  position: relative;
  cursor: pointer;
}

.Gala .thumbnail .container .content .content-thumbnail .thumbnail-info {
  z-index: 2;
  color: black;
}

.Gala .thumbnail .container .content .content-thumbnail .thumbnail-info p {
  position: absolute;
  top: 52%;
  left: 6%;
  z-index: 4;
  font-family: "Raleway";
  font-weight: bolder;
}

.Gala .thumbnail .container .content .content-thumbnail .thumbnail-info .pbg {
  position: absolute;
  width: 172px;
  height: 18px;
  z-index: 3;
  top: 60%;
  left: 5%;
  background: rgba(214, 214, 214, 0.7);
}

.Gala .thumbnail .container .content .content-thumbnail .thumbnail-info h2 {
  position: absolute;
  top: 56%;
  left: 8%;
  z-index: 2;
}

.Gala .thumbnail .container .content .content-thumbnail .thumbnail-info .h2bg {
  position: absolute;
  width: 250px;
  height: 18px;
  z-index: 3;
  top: 70%;
  left: 7%;
  background: rgba(214, 214, 214, 0.5);
  z-index: 1;
}

.Gala .thumbnail .container .content .content-thumbnail .thumbnail-info img {
  width: 340px;
  border-radius: 10px;
}

.Gala .thumbnail .container .content .content-thumbnail .nailBg {
  position: absolute;
  background-color: #19b5ff;
  width: 340px;
  height: 180px;
  top: 10%;
  left: 10px;
  border-radius: 10px;
  z-index: -2;
}

.Gala .thumbnail .container .content .content-thumbnail .creator {
  position: absolute;
  width: 60px;
  top: 80%;
  z-index: -1;
}

.Gala .thumbnail .container .content .content-thumbnail .creator img {
  width: 100%;
  border-radius: 50%;
}

.Gala .galaBg {
  position: absolute;
  top: 250px;
  right: 100px;
  z-index: -1;
  opacity: 0.02;
}

.Gala .galaBg img {
  width: 700px;
}

.Gala .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(5, 5, 5, 0.8);
  overflow-y: hidden;
}

.Gala .footer .container {
  width: 960px;
  height: 50px;
  position: absolute;
  background: rgba(214, 214, 214, 0.1);
  bottom: -250%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*# sourceMappingURL=style.css.map */