@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

$Primary-color: rgb(5, 5, 5);
$second-color: #ffa300;
$third-color: #b37200;
$fourth-color: #0075ff;
$fifth-color: #19b5ff;
$sixth-color: #0053b3;

.Gala {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .nav {
    position: relative;
    width: 100%;
    height: 60px;
    background-color: rgba($Primary-color, 0.4);
    .nav-container {
      .nav-logo {
        position: absolute;
        top: 50%;
        left: 60px;
        transform: translateY(-50%);
        width: 50px;
        img {
          width: 100%;
          border-radius: 50px;
        }
      }
      .search {
        position: absolute;
        top: 18px;
        right: 42.5px;
        display: flex;
        align-items: center;
        opacity: 0.7;
        .search-icon {
          font-size: 1.5em;
          position: absolute;
          opacity: 0.5;
          left: 10px;
          transition: 0.3s;
        }
        .hidden {
          transform: scale(0);
        }
        .search-icon::after {
          border-left: 2px solid black;
          display: inline-block;
        }
        input {
          width: 300px;
          height: 20px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border: none;
          outline: none;
          padding: 0.2em 2em;
          font-size: 1.5em;
          font-family: "Raleway";
          opacity: 1;
          letter-spacing: 2px;
          font-weight: bolder;
          background: linear-gradient(to top, #808080, #ffffff);
        }
      }
      .top-nav {
        position: absolute;
        display: flex;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .nav-icon {
          width: 200px;
          margin: 0 2em;
          padding: 0.5em 0.5em;
          font-size: 2em;
          color: white;
          cursor: pointer;
          opacity: 0.5;
        }
      }
      .nav-icon:hover {
        color: $sixth-color;
        background: $Primary-color;
      }
      .search-results {
        position: absolute;
        width: 400px;
        height: 700px;
        top: 3.5em;
        right: 42.5px;
        background: rgba(214, 214, 214, 0.7);
        border-bottom-left-radius: 25px;
        border-top-left-radius: 15px;
        z-index: 99;
        overflow-y: scroll;
        display: none;
      }
      .show {
        display: block;
      }
    }
  }
  .gala-explore {
    position: fixed;
    width: 960px;
    height: 100%;
    background-color: rgba($Primary-color, 0.4);
    color: white;
    top: 5em;
    left: 50%;
    transform: translate(-50%);
    //     box-shadow: 2px 2px 20px black;
    border-radius: 30px;
  }
  .music {
    position: absolute;
    top: 3.75em;
    right: 40px;
    .section-ele-container-close {
      width: 400px;
      height: 80px;
      background: linear-gradient(to bottom, #151515, #333333);
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      box-shadow: 0px 5px 5px #151515;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .coverArt {
        img {
          width: 60px;
          box-shadow: 2px 5px 5px #000000;
          border-radius: 10px;
          cursor: pointer;
        }
      }
      .main-element {
        position: relative;
        letter-spacing: 2px;
        font-size: 12px;
        top: -8px;
        h2 {
          position: relative;
          color: rgb(202, 202, 202);
          text-shadow: 2px 2px 5px black;
        }
        p {
          position: absolute;
          top: -8px;
          color: rgb(202, 202, 202);
        }
        .time-controle {
          position: absolute;
          display: flex;
          align-items: center;
          bottom: -8px;
          left: -20px;
          color: white;
          // transform: scale(0.9);
          div {
            margin: 0 5px;
          }
          .start-time {
            text-shadow: 2px 2px 5px black;
          }
          .end-time {
            text-shadow: 2px 2px 5px black;
          }
          .slider {
            height: 1px;
            width: 150px;
            color: #d3d3d3;
            background: #adadad;
            border-color: rgb(0, 0, 0);
            box-shadow: 0px 2px 5px #000000;
            outline: none;
            opacity: 1;
          }
        }
      }
      .command {
        button {
          padding: 1.5em;
          border-radius: 15px;
          border: none;
          box-shadow: 0px 5px 5px #000000;
          background: #616161;
        }
      }
    }
  }
  .content {
    position: absolute;
    .content-container {
      padding: 0 8px;
      li {
        list-style-type: none;
        padding: 0.8em 0;
      }
    }
    .categorySelector {
      max-width: 342px;
      max-height: 60px;
      display: flex;
      align-items: center;
      transition: 0.2s;
      cursor: pointer;
      .category-img {
        margin-right: 1em;
        font-size: 2.5em;
        color: white;
        opacity: 0.5;
        padding-top: 8px;
        padding-left: 10px;
        border-radius: 30px;
        // box-shadow: 15px 0px 10px #000000;
      }
      .category-title {
        color: white;
        h2 {
          font-family: "Archivo Black";
          font-size: 20px;
          letter-spacing: 2px;
          opacity: 0.8;
          text-shadow: 10px 5px 10px #000000;
        }
      }
    }
    .categorySelector:hover {
      background: rgba($Primary-color, 0.4);
      border-radius: 25px;
      .cat-icon {
        color: $fourth-color;
      }
    }
    .content-break {
      border-bottom: 1px solid rgb(255, 255, 255);
      width: 350px;
      position: relative;
      left: 2.5em;
    }
  }
  .thumbnail {
    position: absolute;
    width: 400px;
    height: 750px;
    top: 160px;
    right: 42.5px;
    border-radius: 20px;
    background: rgba($Primary-color, 0.4);
    overflow-y: scroll;
    overflow-x: hidden;
    .container {
      max-width: 660px;
      margin: 60px 20px;
      .time-line {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        grid-row-gap: 15em;
      }
      .content {
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        // grid-row-gap: 3.5em;
        .content-thumbnail {
          position: relative;
          cursor: pointer;
          .thumbnail-info {
            z-index: 2;
            color: rgb(0, 0, 0);
            p {
              position: absolute;
              top: 52%;
              left: 6%;
              z-index: 4;
              font-family: "Raleway";
              font-weight: bolder;
            }
            .pbg {
              position: absolute;
              width: 172px;
              height: 18px;
              z-index: 3;
              top: 60%;
              left: 5%;
              background: rgba(214, 214, 214, 0.7);
            }
            h2 {
              position: absolute;
              top: 56%;
              left: 8%;
              z-index: 2;
            }
            .h2bg {
              position: absolute;
              width: 250px;
              height: 18px;
              z-index: 3;
              top: 70%;
              left: 7%;
              background: rgba(214, 214, 214, 0.5);
              z-index: 1;
            }
            img {
              width: 340px;
              border-radius: 10px;
            }
          }
          .nailBg {
            position: absolute;
            background-color: $fifth-color;
            width: 340px;
            height: 180px;
            top: 10%;
            left: 10px;
            border-radius: 10px;
            z-index: -2;
          }
          .creator {
            position: absolute;
            width: 60px;
            top: 80%;
            z-index: -1;
            img {
              width: 100%;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }
  .galaBg {
    position: absolute;
    top: 250px;
    right: 100px;
    z-index: -1;
    img {
      width: 700px;
    }
    opacity: 0.02;
  }
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: rgba($Primary-color, 0.8);
    overflow-y: hidden;
    .container {
      width: 960px;
      height: 50px;
      position: absolute;
      background: rgba(214, 214, 214, 0.1);
      bottom: -250%;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
